<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=172.16.100.14;database=test_data_osa;user id=sa; pwd=Password911"/>
  </connectionStrings>
  <appSettings>
    <add key="DCAN1092Path" value="C:\Program Files\Keysight\FlexDCA"/>
    <add key="BertCom" value="Com6"/>
    <add key="T720Com" value="Com7"/>
    <add key="LDT5525BCom" value="Com9"/>
    <add key="PM212Com" value="Com5"/>
    <add key="JW8402Com" value="Com8"/>
    <add key="K2400_1_GPIB" value="24"/>
    <add key="K2400_2_GPIB" value="4"/>
    <add key="K2400_3_GPIB" value="16"/>
    <add key="K2000_GPIB" value="1"/>
    <add key="K7001_GPIB" value="11"/>
    <add key="AQ6370_GPIB" value="10"/>

  </appSettings>
</configuration>